googleAuthenticator/Web References/CaseServiceRef/CriminalCaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckSensitiveData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="informantID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="badgeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSensitiveDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSensitiveDataResult" type="tns:ArrayOfFieldResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFieldResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FieldResult" nillable="true" type="tns:FieldResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckSensitiveDataSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSensitiveData" />
  </wsdl:message>
  <wsdl:message name="CheckSensitiveDataSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSensitiveDataResponse" />
  </wsdl:message>
  <wsdl:portType name="CriminalCaseServiceSoap">
    <wsdl:operation name="CheckSensitiveData">
      <wsdl:input message="tns:CheckSensitiveDataSoapIn" />
      <wsdl:output message="tns:CheckSensitiveDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CriminalCaseServiceSoap" type="tns:CriminalCaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckSensitiveData">
      <soap:operation soapAction="http://tempuri.org/CheckSensitiveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CriminalCaseServiceSoap12" type="tns:CriminalCaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckSensitiveData">
      <soap12:operation soapAction="http://tempuri.org/CheckSensitiveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CriminalCaseService">
    <wsdl:port name="CriminalCaseServiceSoap" binding="tns:CriminalCaseServiceSoap">
      <soap:address location="https://localhost:44318/CriminalCaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="CriminalCaseServiceSoap12" binding="tns:CriminalCaseServiceSoap12">
      <soap12:address location="https://localhost:44318/CriminalCaseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>